.alert-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999999;
    opacity: 1;
    transition: .5s;
}


.alert-content {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    margin: 1rem;
    overflow: hidden;
    transition: 1.5s;
}


.alert-content-open {
    animation: alert-slide-right-open 0.5s ease-out;
}

.alert-content-close {
    animation: alert-slide-left-close 0.5s ease-out;
}

.alert-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.alert-title {
    margin: 0 0 0 10px;
}

.alert-body {
    padding: 20px;
}

.alert-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.alert-cancel-btn {
    margin-right: 10px;
    background-color: #dc3545;
    color: #fff;
}

.alert-ok-btn {
    background-color: #28a745;
    color: #fff;
}


.close-btn-top {
    position: absolute;
    top: 20px;
    right: 25px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: #000;
}

.close-btn-top:focus {
    outline: none;
}

.icon-alert {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: #ffc107;
    color: #fff;
    border-radius: 50%;
    animation: rotateIcon 3s ease-in-out infinite;
}

.icon-fa-xmark {
    background-color: #dc3545;
}

.icon-fa-check {
    background-color: #28a745;
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg) scale(1);
        animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
    }

    50% {
        transform: rotate(0deg) scale(1.1);
        animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
    }

    100% {
        transform: rotate(360deg) scale(1);
        animation-timing-function: cubic-bezier(0.36, 0.07, 0.19, 0.97);
    }
}

@keyframes alert-slide-right-open {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes alert-slide-left-close {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}