.cart {
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    width: 50%;
    max-width: 600px;
    height: calc(100vh -75px);
    display: none;
    flex-direction: column;
    align-items: center;
    color: #000;
    max-height: calc(100vh -75px);
    transition: .2s;
    background: #fff;
    overflow: hidden;
    z-index: 10000;
}

.cart::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.cart::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 3px;
}

.cart::-webkit-scrollbar-track {
    background-color: #dddddd;
}

.cart-open {
    display: flex;
    overflow: visible;
    overflow-y: auto;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    margin: .5rem 0;
}

.cart__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    width: 90%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.cart__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
}

.cart__list-item-img {
    width: 60px;
    height: auto;
}

.cart__list-item-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
}

.cart__list-item-title {
    /* truncateTextByLines(2lines) */
    font-size: 1rem;
    /* text font size */
    max-height: calc(1em * 2);
    /* maximum height of 3 lines */
    overflow: hidden;
    /* hide content that exceeds maximum height */
    line-height: 1em;
    /* line height of text */
}

.cart__list-item-datails {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.cart__list-item-quantity {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.cart__list-item-quantity-input {
    width: 50px;
    padding: .5rem;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 10px;
    background: var(--bg-color-input);
    font-size: 1rem;
    text-align: center;
}


.cart__list-item-price {
    font-size: 1rem;
    font-weight: bold;
}

.cart__list-item-quantity-btn,
.cart__list-item-actions-btn {
    background: var(--primary-color);
    color: #000;
    border: none;
    padding: .5rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.edit {
    background-color: #ffbf00;
}

.delete {
    background-color: #dc3545;
}

.check {
    background-color: #97BA2D;
}


.cart__list-item-actions {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}



.cart__list-total {
    margin: 2rem 0 1rem;
    font-weight: bold;
    width: 90%;
    font-size: 1.5rem;
    text-align: right;
}

.cart__list-comprar {
    width: 90%;
    margin-bottom: 1rem;
}


@media screen and (max-width: 1100px) {
    .cart {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .cart {
        width: 100%;
    }

    .cart__list-item-datails {
        flex-direction: column;
    }

    .cart__list-item-img {
        width: 50px;
    }

    .cart__list-item-datails {
        align-items: flex-start;
    }
}

@media screen and (max-width: 400px) {
    .cart__list-item-quantity-input {
        width: 40px;
        padding: .3rem;
    }

    .cart__list-item-quantity-btn,
    .cart__list-item-actions-btn {
        padding: .3rem;
    }
}


@media screen and (max-width: 359px) {
    .cart__list-item-quantity {
        flex-direction: column;
    }
}