/* --------------- banner home ---------------  */
.banner-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.banner-home__circulo {
    width: 200px;
    height: 200px;
    top: -25px;
    left: -100px;

    transition: all 1s ease-in-out;
    animation: 20s flotarDiagonal infinite;
}

.banner-home__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.banner-home__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 500px;
    max-height: 500px;
    padding: 1rem;
}

.banner-home__image img {
  aspect-ratio: attr(width) / attr(height);
    width: 100%;
    max-width: 500px;
    height: auto;
}

.banner-content {
    width: 50%;
    flex: 1;
    margin: 0 20px;
    z-index: 20;
    padding: .5rem 0;
}

.banner-title {
    font-size: 3rem;
}

.banner-description {
    font-size: 1.5rem;
    padding: .5rem 0;
}

.banner-btn {
    margin: auto;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .banner-home__container {
        flex-direction: column-reverse;
    }

    .banner-home__image {
        width: 100%;
    }

    .banner-content {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-description {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 800px) and (min-height: 1000px) {
    .banner-home {
        min-height: 50vh;
    }
}



/* --------------- banner offers ---------------  */
.banner-offers {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
  }

  .banner-offers__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  .banner-offers__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50%;
    max-width: 500px;
    max-height: 500px;
    padding: 1rem;

    border-radius: 50%;
    background-color: #fff;

    animation: offer 10s infinite;
    transition: all 1s ease-in-out;
  }

  .banner-offers__image img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .banner-offers__content {
    width: 50%;
    flex: 1;
    margin: 0 20px;
    z-index: 20;
    /* text-align: center; */
  }

  .offer-current-month {
    color: #000;
  }

  @keyframes offer {
    0% {
      background-color: rgba(255, 255, 255, 0.8);
    }

    60% {
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.5);
    }

    100% {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  @media screen and (max-width: 800px) {
    .banner-offers__container {
      flex-direction: column;
    }

    .banner-offers__image {
      width: 100%;
    }

    .banner-offers__content {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  @media screen and (min-width: 800px) and (min-height: 1000px) {
    .banner-offers {
      min-height: 50vh;
    }
  }