.products-best-offer {
    background-color: #fff;
}

.products-section__title {
    padding-top: 75px;
    font-size: 2rem;
}

.products {
    background-color: #fff;
}

.products__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}




.countdown-offer {
    color: #ff0000;
    font-size: 1.2rem;
}

.previous-price {
    color: #000;
    text-decoration: line-through;
}

.current-price-red {
    color: #ff0000;
}

.btn-favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 50px;
    min-height: 50px;
    background-color: #fff;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
}

.icon-favorite {
    font-size: 25px;
    color: var(--primary-color);
}

.button-cart {
    width: 70%;
}

.see-more-content {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.see-more {
    padding: .5rem;
    font-size: 1.2rem;
    color: #000;
    text-decoration: underline;
}